<div class="col-12 d-flex flex-column align-items-center mt-5">
  <h2 class="mb-4 titulo">Lista de Viagens</h2>

  <% viagens.forEach(function(viagem) { %>
    <div class="card p-3 shadow-sm mt-2" style="width: 100%; max-width: 720px; background-color: #d1e3fd;">
      
      <div class="d-flex flex-row align-items-center">
        <div class="flex-grow-1">
          <h5 class="nome-perfil mb-0">
            <%= viagem.cidadeconsul.descricao %> - <%= viagem.data_viagem.split('-').reverse().join('/') %> <br>
            <%= viagem.veiculo.lugares_dispo %>
          </h5>
        </div>
        <button class="botao ver-mais-btn">Ver mais</button>
      </div>

      <div class="detalhes">
        <p><strong>Horário de saída:</strong> <%= viagem.horario_saida.substring(0,5) %></p>
        <hr>
        <p><strong>Modelo do carro:</strong> <%= viagem.modelo_car %></p>
        <hr>
        <p><strong>Placa:</strong> <%= viagem.placa %></p>
        <hr>
        <p><strong>Motorista:</strong> <%= viagem.Motorista.nome %></p>
        <hr>
        <p><strong>Status:</strong> <%= viagem.status.descricao %></p>
        <hr>
        <a href="/admin/viagens/participantes/<%= viagem.cod %>" class="botao-visualizar">Participantes</a>
        <br>
        <div class="d-flex justify-content-end gap-3">
          <a href="#" class="botao">Editar</a>
        </div>
      </div>

    </div>
  <% }) %>

</div>

<script>

  // VER MAIS / VER MENOS
  document.querySelectorAll('.ver-mais-btn').forEach(btn => {
    btn.addEventListener('click', function () {
      const card = this.closest('.card');
      const detalhes = card.querySelector('.detalhes');
      const estaExpandido = detalhes.classList.contains('expandido');

      if (estaExpandido) {
        detalhes.style.height = '0px';
        detalhes.style.marginTop = '0';
        detalhes.classList.remove('expandido');
        this.textContent = 'Ver mais';
      } else {
        detalhes.style.height = detalhes.scrollHeight + 'px';
        detalhes.style.marginTop = '16px';
        detalhes.classList.add('expandido');
        this.textContent = 'Ver menos';
      }
    });
  });
</script>


