<div class="col-12 d-flex justify-content-center espaco-card-edit">
  <div class="card p-3 shadow-sm mt-2" style="width: 100%; max-width: 600px; background-color: #ffffff;">

    <form action="/admin/viagens/add-nova-viagem" method="POST" class="container mt-4">
      <h2 class="mb-4 titulo">Cadastrar Viagem</h2>

      <div class="mb-3">
        <label for="cidadeconsulID" class="form-label">Cidade</label>
        <select name="cidadeconsulID" class="form-control" required>
          <option value="" disabled selected>Selecione uma cidade</option>
          <% cidadeconsul.forEach(cidadeconsul => { %>
            <option value="<%= cidadeconsul.cod %>"><%= cidadeconsul.descricao %></option>
          <% }) %>
        </select>
      </div>
      
      <div class="mb-3">
        <label for="data_viagem" class="form-label">Data da Viagem</label>
        <input type="date" name="data_viagem" class="form-control" value="<%= dataSelecionada %>" required placeholder="Selecione a data">
      </div>

      <div class="mb-3">
        <label for="horario_saida" class="form-label">Horário de Saída</label>
        <input type="time" name="horario_saida" class="form-control" required placeholder="Escolha o horário de saída">
      </div>

      <div class="mb-3">
        <label for="veiculoID" class="form-label">Veiculo</label>
        <select name="veiculoID" class="form-control" required>
          <option value="" disabled selected>Selecione um Veiculo</option>
          <% veiculos.forEach(veiculo => { %>
            <option value="<%= veiculo.cod %>"><%= veiculo.modelo_veiculo %></option>
          <% }) %>
        </select>
      </div>

      <div class="mb-3">
        <label for="motoristaID" class="form-label">Motorista</label>
        <select name="motoristaID" class="form-control" required>
          <option value="" disabled selected>Selecione um motorista</option>
          <% motoristas.forEach(motorista => { %>
            <option value="<%= motorista.cod %>"><%= motorista.nome %></option>
          <% }) %>
        </select>
      </div>

      <div class="d-flex justify-content-between">
        <a href="/admin/viagens/index" class="botao">Cancelar</a>
        <button type="submit" class="botao">Cadastrar</button>
      </div>
    </form>
  </div>
</div>
