<div class="col-12 d-flex justify-content-center espaco-card-edit">
  <div class="card p-3 shadow-sm mt-2" style="width: 100%; max-width: 720px; background-color: #d1e3fd;">
    <h2 class="mb-4 titulo">
      <%= viagem.destino_cid %> - <%= viagem.data_viagem.split('-').reverse().join('/') %>
    </h2>
    
    <p><strong>Horário de saída:</strong> <%= viagem.horario_saida.substring(0,5) %></p>

    <hr>

    <p><strong>Lugares disponíveis:</strong> <%= viagem.lugares_dispo %></p>

    <hr>

    <p><strong>Modelo do carro:</strong> <%= viagem.modelo_car %></p>
    
    <hr>

    <p><strong>Placa:</strong> <%= viagem.placa %></p>
    
    <hr>

    <p><strong>Motorista:</strong> <%= viagem.Motorista.nome %></p>

    <hr>

    <p><strong>Status:</strong> <%= viagem.status.descricao %></p>

    <hr>

    <a href="/admin/viagens/participantes/<%= viagem.cod %>" class="botao-visualizar">Vizualizar Participantes</a>

    <hr>

   <div class="d-flex justify-content-between">
    <div>
        <a href="/admin/viagens/index" class="botao">Voltar</a>
    </div>

    <div style="display: flex; gap: 15px;">
   <form action="/admin/viagens/cancelar/<%= viagem.cod %>?_method=PUT" method="POST" style="display:inline;">
    <button type="submit" class="botao bg-vermelho">Cancelar</button>
</form>
    <a href="/admin/viagens/editar/<%= viagem.cod %>" class="botao">Editar</a>
  </div>



  </div>
</div>
