<div class="col-12 d-flex justify-content-center espaco-card-edit">
    <div  class="card p-3 shadow-sm mt-2 card-viagem 
    <% if (viagem.status.cod == 2) { %> status-cancelada <% } %>
    <% if (viagem.status.cod == 3) { %> status-concluida <% } %> " >
    <h2 class="mb-4 titulo">
      <%= viagem.cidadeconsul.descricao %> - <%= viagem.data_viagem.split('-').reverse().join('/') %>
    </h2>

    <p><strong>Horário de saída:</strong> <%= viagem.horario_saida.substring(0,5) %></p>
    <hr>

    <p><strong>Lugares disponíveis:</strong> <%= viagem.veiculo.lugares_dispo %></p>
    <hr>

    <p><strong>Modelo do carro:</strong> <%= viagem.veiculo.modelo_veiculo %></p>
    <hr>

    <p><strong>Placa:</strong> <%= viagem.veiculo.placa %></p>
    <hr>

    <p><strong>Motorista:</strong> <%= viagem.Motorista.nome %></p>
    <hr>

    <p><strong>Status:</strong> <%= viagem.status.descricao %></p>
    <hr>

    <% if (viagem.combustivel) { %>
      <p><strong>Combustível:</strong> <%= viagem.combustivel %></p>
      <hr>
    <% } %>

    <% if (viagem.km_inicial) { %>
      <p><strong>Km Inicial:</strong> <%= viagem.km_inicial %></p>
      <hr>
    <% } %>

    <% if (viagem.km_final) { %>
      <p><strong>Km Final:</strong> <%= viagem.km_final %></p>
      <hr>
    <% } %>

    <% if (viagem.paradas) { %>
      <p><strong>Paradas:</strong> <%= viagem.paradas %></p>
      <hr>
    <% } %>

    <% if (viagem.obs) { %>
      <p><strong>Observações:</strong> <%= viagem.obs %></p>
      <hr>
    <% } %>

    <% if (viagem.horario_chega) { %>
      <p><strong>Horário de Chegada:</strong> <%= viagem.horario_chega.substring(0,5) %></p>
      <hr>
    <% } %>
        <a href="/motorista/viagens/participantes/<%= viagem.cod %>" class="botao-visualizar">Participantes</a>
        <br />
</div>
